<div {% if content.id %}id="{{content.id}}" {%endif%}class="{{content.element}}">
    <div class="element-page-break element-page-break-right"></div>
    <div class="element-header">
        {% if content.number %}
        <span class="short-bar">&#160;</span>
        <span class="text">{{content.number}}</span>
        <span class="short-bar">&#160;</span>
        {% else %}
        <span class="long-bar">&#160;</span>
        {% endif %}
    </div>

    <h1 class="element-title">{{content.title}}</h1>
    {{html}}
</div>
