@import "stylesheet";

div.legal {
    p {
        text-indent: 0;
        padding-bottom: 1em;
    }
}

div.cover {
    padding: 0 !important;

    img {
        width: 80% !important;
        padding: 0;
        margin: 0 auto;
    }
}

div.element-page-break, div.toc {
    page-break-before: always;
}

div.element-header {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

h1.element-title {
    padding-bottom: 5rem;
}
