@import "stylesheet";

$text-indent: 0.5cm;
$img-padding: 0.2cm;
$outer-margin: 0.47in;

$extra-light-font-family: CordaExtraLight;
$light-font-family: CordaLight;
$medium-font-family: CordaMedium;
$ipa-font-family: IPA;

/*
 * Fonts
 *
 * Because Corda is a pay-for font, we encrypt it as part of the packaging
 * processing. Source Sans Pro isn't, but we encrypted it anyways to make the
 * pattern of encrypting and decrypting consistent.
 */

@font-face {
    font-family: IPA;
    src: url(theme("theme.assetDirectory") + "/fonts/SourceSansPro-Light.otf");
}

@font-face {
    font-family: CordaExtraLight;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-ExtraLight.otf");
}

@font-face {
    font-family: CordaExtraLight;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-ExtraLightItalic.otf");
    font-style: italic;
}

@font-face {
    font-family: CordaExtraLight;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-Light.otf");
    font-weight: bold;
}

@font-face {
    font-family: CordaLight;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-Light.otf");
}

@font-face {
    font-family: CordaLight;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-LightItalic.otf");
    font-style: italic;
}

@font-face {
    font-family: CordaLight;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-Medium.otf");
    font-weight: bold;
}

@font-face {
    font-family: CordaMedium;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-Medium.otf");
}

@font-face {
    font-family: CordaMedium;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-MediumItalic.otf");
    font-style: italic;
}

@font-face {
    font-family: CordaMedium;
    src: url(theme("theme.assetDirectory") + "/fonts/Corda-Bold.otf");
    font-weight: bold;
}

/*
 * General
 */

body {
    font-size: 12pt;
    font-family: CordaLight;
    padding: 0;
    margin: 0;
}

.element-header .text {
    font-family: CordaLight;
}

.element-title {
    font-family: CordaMedium;
    font-weight: normal;
}

// letterine: CordaMedium

/*
 * The WeasyPrint-specific rules for use with that application.
 */

@page {
    @top-center {
        font-family: CordaLight;
        font-size: 9pt;
        vertical-align: bottom;
        padding-bottom: 1em;
    }

    @bottom-center {
        font-family: CordaLight;
        font-size: 9pt;
        content: counter(page);
        vertical-align: top;
        padding-top: 1em;
    }

    size: A5 portrait;
    margin: 0.7in $outer-margin;
}

@page :right {
    padding-left: $outer-margin;

    @top-center {
        content: themeString("edition.title");
    }
}

@page :left {
    padding-right: $outer-margin;

    @top-center {
        content: themeString("edition.author");
    }
}

@page :first {
    @top-center { content: ""; }
}

@page chapter {
    @top-center { content: ""; }
}

@page blank {
    @top-center { content: ""; }
    @bottom-center { content: ""; }
}

body {
    // We assume hyphenate will be done as a pipeline.
    hyphens: manual;
}

/*
 * WeasyPrint has a couple bugs when it comes to running headers and page
 * breaks. These elements are to control how they work.
 */

div.element-page-break {
    page-break-before: always;

    &.element-page-break-right {
        page: chapter;
        page-break-before: right;
    }

    &.element-page-break-left {
        page: chapter;
        page-break-before: left;
    }

    &.element-page-break-blank {
        page: blank;
    }

    &.element-page-break-legal {
        page: blank;
    }

    &.element-page-break-title, &.element-page-break-dedication {
        page: blank;
        page-break-before: right;
    }
}

div.element-page-pad-right {
    page-break-after: right;
}

/*
 * Page Specific
 */

div.cover {
    text-align: center;

    img {
        width: 80%;
    }
}

div.chapter, div.appendix, div.toc, div.preface, div.colophon {
    // Give the chapter a little space to shift it down.
    padding-top: 4rem;

    // Paragraphs are formatted like text.
    p {
        text-indent: $text-indent;
        padding: 0;
        margin: 0;
        text-align: justify;
    }

    p:first-of-type {
        text-indent: 0;
    }

    p.single-image {
        text-indent: 0;
        text-align: center;

        img.single-image {
            width: 80%;
        }
    }
}

.element-header {
    .long-bar, .short-bar {
        height: 0.7em;
    }
}

h1 {
    font-family: $medium-font-family;
    text-align: center;
    font-variant-ligatures: historical-ligatures common-ligatures;
    font-feature-settings: "liga", "dlig";

    &.element-title {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

h2, h3 {
    font-family: $medium-font-family;
    font-weight: normal;
}

/*
 * Title
 */

div.title {
    text-align: center;
    padding-top: 0.7in;

    .large {
        font-family: CordaMedium;
        font-weight: normal;
        font-size: 60pt;
    }

    .medium {
        font-family: CordaMedium;
        font-weight: normal;
        font-size: 36pt;
    }

    .author {
        margin-top: 1in;
        font-family: CordaLight;
        font-weight: normal;
        font-size: 36pt;
    }

    .publisher {
        margin-top: 1.2in;
        font-family: CordaExtraLight;
        font-weight: normal;
        font-size: 12pt;
    }
}

/*
 * Legal
 */

div.legal {
    p {
        text-indent: 0;
        padding: 0 0 1em 0;
    }
}

/*
 * Dedication
 */

div.dedication {
    padding: 1in;
    text-align: center;

    p {
        text-indent: 0;
        padding: 0 0 1em 0;
    }
}

/*
 * License
 */

div#license {
    p {
        text-indent: 0;
    }
}

/*
 * HTML Elements
 */

a {
    // PDFs don't show links as blue.
    text-decoration: none;
    color: black;
}

// Epigraphs
blockquote.epigraph {
    font-family: CordaExtraLight;
    font-size: 9pt;
    margin: 0 auto 2rem auto;
    width: 4in;

    .quote {
        padding-bottom: 0.25em;
    }

    .attribute {
        font-size: 8pt;
    }
}

// Other blockquotes
blockquote.blockquote {
    margin-left: 12pt;
    font-size: 9pt;
}

/*
 * Paragraphs
 */

p {
    line-height: 1.2;
}

span.first-word {
    font-family: CordaMedium;
    font-weight: normal;
    font-variant-ligatures: historical-ligatures common-ligatures;
    font-feature-settings: "liga", "dlig";

    span.first-letter {
        position: relative;
        top: 2pt;
        font-size: 18pt;
        margin-bottom: -2pt;
    }
}

/*
 * Table of Contents
 */

p.toc-1 {
    font-family: $medium-font-family;
    margin: 0 !important;
    padding: 0 0 6pt 0 !important;
    line-height: 1.0 !important;
    text-indent: 0 !important;
    text-align: left;
}

/*
 * Preface
 */

span.ipa, code {
    font-family: $ipa-font-family;
    font-size: 12pt;
}
